.dragdrop-component {
    .dragdrop-widget {

        

        .dragdrop-container {
            position: relative;
            width: 100%;
            height: 100%;       

            .dragdrop-background {
                float: left;
            }

            .ui-dragdrop-item {
                position:absolute;
                &.ui-droppable { 
                    background-color : #777;
                    padding : 5px;  
                    
                    &.ui-droppable.ui-state-highlight { 
                        background-color : #999;
                    }

                    &.ui-droppable.ui-state-hover { 
                        background-color : #ddd;
                    }

                    &.ui-droppable.ui-state-active { 
                        background-color : #777;
                        border : 1px dashed red;
                    }          
                }

                &.ui-draggable { 
                    background-color : #447;
                    padding : 5px;
                }
            }

            

            
        }
    }
}