<div class="dragdrop-inner dragdrop-inner">
    {{> component this}}
   <div class="dragdrop-widget component-widget {{#unless _isEnabled}} disabled {{#if _isComplete}} complete submitted user {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">
    	
    	<p>TO DO create dropzone stuff here</p>
        <div class="buttons">
            {{> buttons this}}
        </div>
    </div>
</div>