<div class="dragdrop-inner dragdrop-inner">
    {{> component this}}
    <div class="component-widget dragdrop-widget">
    	<!-- Any Sub Divs Here  -->
		<div id='zone_s1_0' class='zone_s1'></div>
		<div id='zone_s1_1' class='zone_s1'></div>
		<div id='zone_s1_2' class='zone_s1'></div>
		<div id='zone_s1_3' class='zone_s1'></div>
		<div id='zone_s1_4' class='zone_s1'></div>

		<div id='drag_s1_0' class='dragger_s1'>Draggable0</div>
		<div id='drag_s1_1' class='dragger_s1'>Draggable1</div>
		<div id='drag_s1_2' class='dragger_s1'>Draggable2</div>
		<div id='drag_s1_3' class='dragger_s1'>Draggable3</div>
		<div id='drag_s1_4' class='dragger_s1'>Draggable4</div>


		<div id="slide_buttons_container">
			<button id="submitButton" class="button active-but medium inactive-but" style="">Submit</button>
			<button id="revealButton" class="button active-but medium" style="">Reveal</button>
			<button id="resetButton" class="button active-but medium">Reset</button>
		</div>
    </div>
</div>